.navBar{
display: flex;
align-items: center;
text-align: center;
justify-content: space-between
}

.navBar__image{
height: 100px;
}

.navBar__photo{
    height: 200px;
}

.navBar__autor{
    font-size: 30px;
    font-family:fantasy;
} 