.pokemonCard{
    padding: 10px;
    height: 300px;
    background-color: greenyellow;
    border: solid black 2px;

   
    color: black;
    border-radius: 15px;

    &__imageContainer{
      background-color: black;
        &-image{
            height: 150px;
        }
    }

    &__body{
        color: black;
        text-transform: capitalize;
    }
    &__body:hover{
        color: orangered;
    }
}
.pokemon-heart-button{
    background-color: greenyellow;
    border-style: none;
    font-size: 20px;
}